[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
numpy = "*"
pandas = "*"
jupyter = "*"
sklearn = "*"
matplotlib = "*"
seaborn = "*"
mlxtend = "*"
pyfpgrowth = "*"
networkx = "*"
xlrd = "*"
scipy = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
